################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Bomberman/obj
/Bomberman/.vs/Bomberman/v16
/.vs
